# Server
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5000

# MongoDB Atlas
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.mongodb.net/swapwear?retryWrites=true&w=majority

# JWT
JWT_SECRET=replace_this_with_a_long_random_string
JWT_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Admin bootstrap (used only by seed script)
ADMIN_EMAIL=admin@swapwear.com
ADMIN_PASSWORD=ChangeMe123!
